.ink {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  @include user-select(none);
}
.ripple, .ripple-color {
  position: absolute;
  border-radius: 100%;
  @include transform(scale(0));
  pointer-events: none;
}
.ripple {
  background: $black-12;
}
.ripple-color {
  background: $secondary-color;
}
.ripple.show, .ripple-color.show  {
  @include animation(ripple .75s ease-out);
}
@include keyframes(ripple) {
  to {
    @include transform(scale(2));
    opacity: 0;
  }
}
